*, *:before, *:after {
box-sizing: border-box;
}

* {
  font-family: "Analogue";
}

body {
  height: 667px;
  margin: 0 auto;
  width: 375px;
}

.nav {
  background-color: #FFCC00;
  height: 85px;
  margin: 0 auto;
  width: 375px;
}

.navTable {
  padding-left: 18px;
  padding-right: 15px;
}

img {
  height: 21px;
  width: 375px;
}

table {
  width: 100%;
}

.listTable:hover {
  background-color: #AAAAAA;
  transition: 0.3s;
}

td {
  height: 66px;
  width: 50%;
  vertical-align: middle;
}

tr {
  border-bottom: 1px solid #FFCC00;
}

td.arrow {
  width: 16px;
}

h2 {
  text-align: center;
  width: 162px:
}

td.sort {
  height: 22px;
  width: 13.33px;
}

i {
  color: #666666;
}

i:hover {
  background-color: #AAAAAA;
}

.title {
  color: #666666;
  font-size: 22px;
  font-weight: 300;
  height: 21px;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 26px;
  margin: 0 auto;
  width: 202px;
}

.list {
  background-color: #666666;
  margin: 0 auto;
  width: 375px;
}

.number {
  background-color: #000000;
  color: #FFCC00;
  font-weight: 500;
  font-size: 34px;
  height: 38.84p;
  line-height: 41px;
  text-align: center;
  width: 57px;
}

.direction {
  color: #FEFEFE;
  font-size: 20px;
  height: 19px;
  line-height: 29px;
  text-align: center;
  width: 103px;
}

.address {
  color: #FEFEFE;
  font-size: 12px;
  height: 11.88px;
  line-height: 17px;
  text-align: left;
  width: 125px;
}

.out {
  color: #FFFACD;
  width: 100%;
}

.eta {
  color: #FEFEFE;
  font-size: 20px;
  height: 37.33px;
  line-height: 24px;
  text-align: right;
  width: 53px;
}

.min {
  color: #FEFEFE;
  font-size: 12px;
  height: 18px;
  line-height: 14px;
  text-align: right;
  width: 42px;
}

.back {
  color: #FEFEFE;
  font-size: 12px;
  height: 18px;
  line-height: 14px;
  text-align: justify;
  width: 47px;
}

.time {
  color: #FEFEFE;
  font-size: 20px;
  height: 37px;
  line-height: 24px;
  text-align: justify;
  width: 79px;
}
