*, *:before, *:after {
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 667px;
  margin: 0 auto;
  width: 375px;
}

.nav {
  background-color: #FFCC00;
  height: 85px;
  margin: 0 auto;
  width: 375px;
}

img {
  height: 21px;
  width: 375px;
}

.navTable {
  padding-left: 18px;
  padding-right: 15px;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid #FFCC00;
}

td {
  height: 66px;
  width: 40%;
  vertical-align: middle;
}

.arrow {
  width: 16px;
}

i {
  color: #666666;
}

i:hover {
  background-color: #AAAAAA;
}

.title {
  color: #666666;
  font-size: 22px;
  font-weight: 300;
  height: 21px;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 26px;
  width: 202px;
}

h2 {
  text-align: center;
  width: 162px:
}

.sort {
  height: 22px;
  width: 13.33px;
}

.list {
  background-color: #666666;
  margin: 0 auto;
  width: 375px;
}

.listTable:hover {
  background-color: #AAAAAA;
  transition: 0.3s;
}

.number {
  background-color: #000000;
  color: #FFCC00;
  font-size: 34px;
  font-weight: 500;
  height: 38.84;
  line-height: 41px;
  text-align: center;
  vertical-align: middle;
  width: 57px;
}

.middle {
  vertical-align: middle;
}

.direction {
  color: #FEFEFE;
  font-size: 20px;
  margin-left: 10px;
}

.address {
  color: #FEFEFE;
  font-size: 12px;
  margin-left: 10px;
}

.last {
  vertical-align: middle;
}

.eta, .time {
  color: #FEFEFE;
  font-size: 20px;
  padding-right: 10px;
  text-align: right;
}

.min, .back {
  color: #FEFEFE;
  font-size: 12px;
  padding-right: 10px;
  text-align: right;
}

.out {
  color: #FFFACD;
}
